<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NetBankingSuite">

	<listeners>
		<listener class-name="com.netbanking.utilities.Reporting"></listener>
	</listeners>


	<test name="BankingAppTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.netbanking.testcases.TC_LoginTest_001" /> 
			<!--  <class name="com.netbanking.testcases.TC_LoginDDT_002" />-->
			<class name="com.netbanking.testcases.TC_AddCustomerTest_003" />
		</classes>
	</test>
</suite>
